<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}
        <footer class="site-footer clearfix">
           <div class="main-wrapper">
                <div class="signature">
                  <div>
                    {{#if @blog.logo}}
                    <a href="http://www.minutesdepot.com/en">
                       <img alt="{{@blog.title}}" src="{{@blog.logo}}" class="logo">
                    </a>
                    {{/if}}
                  </div>
                  <p>&copy; {{date format="YYYY"}} Minutes Depot inc.</p>
                </div>

                <nav>
                    <ul class="social">
                        <li class="phone">1 844 392-6880</li>
                        <li class="address">520 Charest Est, suite 390, <br>Québec, Québec<br>Canada, G1K&nbsp;3J3</li>
                        <li class="icon twitter"><a href="https://twitter.com/minutesdepot">Twitter</a></li>
                        <li class="icon googleplus"><a href="https://plus.google.com/+Minutesdepotapp" rel="publisher">Google+</a></li>
                        <li class="icon linkedin"><a href="http://www.linkedin.com/company/minutes-d%C3%A9p%C3%B4t-inc-">LinkedIn</a></li>
                        <li class="icon facebook"><a href="http://www.facebook.com/minutesdepot">Facebook</a></li>
                    </ul>
                    <ul class="menu actions">
                        <li><a href="http://www.minutesdepot.com/fr/sign_up">Inscription</a></li>
                        <li><a href="http://www.minutesdepot.com/fr/sign_in">Connexion</a></li>
                        <li class="lang"><a href="/en">English</a></li>
                    </ul>
                    <ul class="menu info">
                        <li><a href="http://www.minutesdepot.com/fr">Accueil</a></li>
                        <li><a href="http://www.minutesdepot.com/fr/explore">Explorer</a></li>
                        <li><a href="http://www.minutesdepot.com/fr/pricing">Tarif/a></li>
                        <li><a href="http://www.minutesdepot.com/fr/security">Sécurité</a></li>
                        <li><a href="http://www.minutesdepot.com/fr/contact">Contact</a></li>
                    </ul>
                </nav>   
                              
            </div>       
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
